* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v11_1617 {
  width: 390px;
  height: 844px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v11_1660 {
  width: 180px;
  color: url("../images/v11_1660.png");
  position: absolute;
  top: 109px;
  left: 105px;
  font-family: Lalezar;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
}
.v11_1686 {
  width: 62px;
  height: 75px;
  background: url("../images/v11_1686.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 385px;
  left: 164px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11_1684 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 60px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v11_1661 {
  width: 390px;
  height: 95px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 749px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v11_1665 {
  width: 52px;
  height: 12px;
  background: url("../images/v11_1665.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 39px;
  overflow: hidden;
}
.v11_1666 {
  width: 52px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v11_1667 {
  width: 23px;
  height: 12px;
  background: url("../images/v11_1667.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 184px;
  overflow: hidden;
}
.v11_1668 {
  width: 23px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v11_1669 {
  width: 29px;
  height: 12px;
  background: url("../images/v11_1669.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 314px;
  overflow: hidden;
}
.v11_1670 {
  width: 29px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
